* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: linear-gradient(to bottom, #fdf6e3, #e0f7fa);
}

.button {
  border: 0;
  cursor: pointer;
  color: #fff;
  padding: 0.313rem;
  border-radius: 6px;
  font-size: 1em;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header {
  background: linear-gradient(90deg, #26c6da, #00acc1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container__img {
    width: 3.125rem;
    height: 3.125rem;
  }

  .container__title {
    font-size: 1.5em;
    background: linear-gradient(
      to right,
      #ef5350,
      #f48fb1,
      #7e57c2,
      #2196f3,
      #26c6da,
      #43a047,
      #7e57c2,
      #f9a825,
      #ff5722
    );
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar__list {
    list-style: none;
    display: flex;
    gap: 3.125rem;
    margin-right: 2rem;
  }

  .item-link {
    text-decoration: none;
    color: #0288d1;
  }

  .item-link:hover {
    text-decoration: underline;
  }

  .item-link:focus {
    background-color: #e1f5fe;
    outline: 2px dashed #0288d1;
  }
}

.main {
  display: flex;
  padding: 2rem 8rem;
  flex-direction: column;
  gap: 3.75rem;

  .section-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .guess-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .guess-container__title {
    color: #ab47bc;
    font-size: 2em;
  }

  .guess-container__paragraph {
    color: #f9a825;
    font-size: 1.5em;
  }

  .guess-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .guess-game-counter {
    background-color: #28a745;
    color: black;
    font-size: 1.5em;
  }

  .guess-game__label {
    font-size: 1.125em;
    font-weight: 500;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .guess-game__input {
    padding: 0.313rem;
    border: 1px solid #bdc3c7;
    color: #34495e;
    background-color: #ecf0f1;
  }

  .guess-game__input:hover {
    background-color: #d5dbdb;
    border-color: #64b5f6;
  }

  .guess-game__input:focus {
    border: 2px solid #1976d2;
    background-color: #e3f2fd;
  }

  .button-guess {
    background-color: #26c6da;
  }

  .button-guess:hover {
    transform: scale(1.1);
    transition: 0.3 ease;
    background-color: #00acc1;
  }

  .button-guess:focus {
    outline: 2px solid #0288d1;
    background-color: #e0f7fa;
  }

  .button-guess:active {
    background-color: #732d91;
  }

  .guess-game__paragraph {
    background-color: #ff5722;
    font-size: 1.5em;
    color: rebeccapurple;
  }

  .button-reset {
    background-color: #26c6da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    display: none;
  }

  .button-reset:hover {
    background-color: #00acc1;
    transform: translateY(-2px);
  }

  .button-reset:focus {
    outline: 2px solid #00acc1;
    outline-offset: 4px;
  }

  .button-reset:active {
    background-color: #00838f;
    transform: translateY(0);
  }
}
